//-doctype html
//-html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        block content

block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title AVOWS Portal: #{title}
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/style.css")
        block styles
    body
        div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
            h5.my-0.mr-md-auto.font-weight-normal
                a(href="/" title="AVOWS") AVOWS Portal
            nav.my-2.my-md-0.mr-md-3
                a.p-2.text-dark(href="/" title="Home") Home
                a.p-2.text-dark(href="/dashboard") Dashboard
                a.p-2.text-dark(href="/users/logout") Logout
        .container
            block content

        

    block scripts

